---
import lib from 'zenn-markdown-html';
import 'zenn-content-css';
import MainLayout from '../../layouts/MainLayout.astro';

export async function getStaticPaths() {
  const articles = await import.meta.glob('../../content/articles/*.md');
  
  return Promise.all(
    Object.entries(articles).map(async ([path, resolver]) => {
      const result = await resolver();
      const { frontmatter, Content } = result;
      const slug = path.split('/').pop().replace('.md', '');
      
      return {
        params: { slug },
        props: { frontmatter, Content }
      };
    })
  );
}

const { frontmatter, Content } = Astro.props;
---

<MainLayout>
  <article>
    <h1>{frontmatter.title}</h1>
    
    <div class="znc">
      <Content />
    </div>
  </article>
</MainLayout>

<script is:inline src="https://embed.zenn.studio/js/listen-embed-event.js"></script>