@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

body {
  background-color: #FAF9F5;
}

article {
  /* border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); */
}


.znc {
  font-size: 0.9rem; /* 現在のフォントサイズを小さく */
  line-height: 1.7; /* 行間も調整 */
}

pre, code {
  font-size: 0.85rem; /* コードブロックを特に小さく */
}